name: kitty_protocol
description: Dart implementation of the Kitty Protocol for terminal emulators. Supports keyboard and graphics protocols.
version: 1.1.0
homepage: https://github.com/lbp0200/kitty_protocol

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  test: ^1.24.0
